<h1 class="animated infinite bounce delay-2s"> Home Page of Our <span class="word"> Possums</span> </h1>

<div class = "story">
<p> Australia is known for its numerous species of possum. The possum belongs to the mammalian order known as Didelphimorphia. The possum has smooth and silky fur, which is used to make cushions, blankets, sofa throws, and clothing in New Zealand where they are considered a pest. It is said that possum fur is warmer than wool. Possums in Australia however are protected. </p>

_______________________________________________________

<p> Australia is home to approximately twenty-three known species of possum, many of which can be found in our local area. Amongst them are two species that are known to invade private residence at night and growl on the rooftops. These pesky possums are known to take up residence in suburban rooftops requiring professional possum removal to evict them. </p>
</div>