<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="animate.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/css/possums.css">
    <title>POSSUMS</title>
</head>
<body>
    <div class="container">
    <nav>
        |
        <a href="/">Home of our <strong>P</strong>ossums</a>
        |
        <a href="/possums">Our collection of <strong>P</strong>ossums </a>
        |
        <a href="/possums/new">List my <strong>P</strong>ossum</a>
        |
    </nav>
<%= yield%> 
    </div>
</body>
</html>