<h2> I want to list my possum </h2>

<form action="/possums" method="post"> 

<label>
    What is the name of your possum:
    <input name="name" placeholder="possum" required>
</label>

<label>
    Which year was your possum born in:
    <input name="year" placeholder="2010" required>
</label>

<label>
    How heavy is your possum (kg):
    <input name="weight" placeholder="4" required>
</label>

<label>
    Image:
    <input type="url" name="image" placeholder="URLink">
</label>

<button> List My Possum Now! </button>

</form>