<div class="form_container">
  <form class="form" action="/albums" method="post">
    <label class="label_color1">
      Artist
      <input class="input_border1" type="text" name="artist" placeholder="The Trammps" autocomplete="off" required>
    </label>
    <label class="label_color2">
      Album
      <input class="input_border2" type="text" name="album" placeholder="Disco Inferno" autocomplete="off" required>
    </label>
    <label class="label_color3">
      Year Released
      <input class="input_border3" type="number" name="year" placeholder="1976" autocomplete="off">
    </label>
    <label class="label_color4">
      Image
      <input class="input_border4" type="text" name="image" placeholder="http://..." required autocomplete="off">
    </label>
    <button class="create_button">Add the Buzz</button>
  </form>
</div>
