<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Can You Dig It?</title>
</head>
<body>
  <div class="container">

    <div class="content_container">
      <%= yield %>
    </div>

    <div class="footer_container">
      <nav class="footer_nav">
        <a class="footer_link color1" href="/">Home</a>
        <a class="footer_link color2" href="/albums">Albums</a>
        <a class="footer_link color3" href="/albums/random">Let's Boogie</a>
        <a class="footer_link color4" href="/albums/new">Add the Buzz</a>
      </nav>
      <h1 class="main_title">DISCO</h1>
    </div>

  </div>
</body>
</html>
