<h2>Add Beach</h2>
<div class="form-wrapper">
<form action="<%= beaches_path %>" method = "post">
  <label>Name: <input name="name" required></input></label>
  <label>Location: <input name="location"></input></label>
  <label>Area: <input name="area"></input></label>
  <label>Tourists as of 2019: <input name="tourists"></input></label>
  <label>Image: <input id="image" name="image"></input></label>
  <button>Add Beach</button>
</form>
</div>
