<h3>Add New BMW</h3>
<form action="/bmw" method="post">
  <label>Model:  <input name="model"  placeholder="M3" required></label>
  <label>Family: <input name="family" placeholder="E46" required></label>
  <label>Year:   <input name="year"   placeholder="2000" required></label>
  <label>Image:  <input name="image"    placeholder="http://...." required></label>
  <button>Create Plant</button>
</form>
