<h2>Welcome to BMW World</h2>
<h3>Fascination Sheer Driving Pleasure</h3>
<p>Automated driving, electro-mobility, on-demand mobility and connectivity-mobility have never been so fascinating – and automobile advancement never so exciting and promising – as it is today. With BMW.com, the international website for BMW, we would like to create a platform that brings you closer to this fascination and the latest technological trends. With content focusing on topics like mobility, stories of past and recent milestones, facts about historic, recent and future BMW models.</p>
<p>Dive into these new worlds with us, get inspired, and experience something new, unusual and helpful every day. At BMW, our digital interpretation of the sheer pleasure of driving.</p>
<img src="/images/bmw-logo.jpg" alt="bmw logo">
