<h1>Welcome to the World of magic </h1>

<form action="/final">
  <label>
    <input type="search" name="ques" required placeholder="Write an appropriate question"
    size="50">
  </label>
<div> <button>FindUrLuck</button></div> 
</form>
