<h2 id="que">Ask Clown any question </h2>
<form action="/balls/result">
  <label>
    Question:
    <input type="search" name="question" required placeholder="Will I win lotto?!">
  </label>
  <button>Tell me clown</button>
</form>
