<h2>Lets add new Pokemons</h2>

<form action="/pokemons" method="post">
  <label>
    Name:
    <input name="name" placeholder="pikachuu" required>
  </label>

  <label>
    Type:
    <input name="type" placeholder="electric" required>
  </label>

  <label>
    image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add Pokemon</button>


</form>
