<h2>Choose a number</h2>
<div class="container">
<a href="secretnumber/result/1"><div class="box">1</div></a>
<a href="secretnumber/result/2"><div class="box">2</div></a>
<a href="secretnumber/result/3"><div class="box">3</div></a>
<a href="secretnumber/result/4"><div class="box">4</div></a>
<a href="secretnumber/result/5"><div class="box">5</div></a>
<a href="secretnumber/result/6"><div class="box">6</div></a>
<a href="secretnumber/result/7"><div class="box">7</div></a>
<a href="secretnumber/result/8"><div class="box">8</div></a>
<a href="secretnumber/result/9"><div class="box">9</div></a>
<a href="secretnumber/result/10"><div class="box">10</div></a>
</div>
<p><a href="/">Go to Main</a></p>
