// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game_select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-row-gap: 2em;
}

.game {
    max-width: 20em;
}

.game:hover {
    animation: shake 1s
}

@keyframes shake {
    0%,100% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-10px, -10px) rotate(-1deg); }
    20% { transform: translate(-15px, 5px) rotate(1deg); }
    30% { transform: translate(10px, 7px) rotate(0deg); }
    40% { transform: translate(5px, -12px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-10px, 11px) rotate(0deg); }
    70% { transform: translate(13px, 15px) rotate(-1deg); }
    80% { transform: translate(-6px, -7px) rotate(1deg); }
    90% { transform: translate(10px, 13px) rotate(0deg); }
}

.game_profile {
    width: 80%;
    margin: 0 auto;
    border: 2px solid slategrey;
    border-radius: 1em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 1em 1em 0 1em;
    align-items: center;
    justify-items: center;
}

.game_profile img:first-of-type{
    max-width: 30em;
}