// Place all the styles related to the Specials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.inner_container {
    text-align: center;
}

.special_select {
    border-radius: 1em;
    max-width: 40%;
}

.special_select:hover {
    transition: all 0.5s ease-in;
    box-shadow: 0.5em 0.5em 1em rgba($color: #000000, $alpha: 1.0);
    transform: translate(-0.5em, -0.5em);
}

.special_moves {
    padding-bottom: 1em;
    font-size: 1.5em;
}

.special_moves img {
    border-radius: 1em;
}