<h2>Edit the video game titles</h2>

<form action="/video_games" method="post">
	<label for="">Title</label>
	<input type="text" name="title" id="">
	<label for="">Console</label>
	<input type="text" name="console" id="">
	<label for="">Cover Art</label>
	<input type="text" name="cover" id="">
	<button>Search</button>
</form>
