<h2>New Flower</h2>

<form action="/flowers" method="post">
  <label>
    Name:
    <input name="name" placeholder="Allium" required>
  </label>

  <label>
    Sun Needs:
    <input name="sun_needs" placeholder="Full Sun">
  </label>

  <label>
    Soil Needs:
    <input name="soil_needs" placeholder="Well-drained">
  </label>

  <label>
    Blooms in:
    <input name="bloom_in" placeholder="Spring">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

    <button>Add</button>

</form>
