<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flowers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a class="link_size" href="/">Home</a>
      <a class="link_size" href="/flowers">Flowers</a>
    </nav>
    <%= yield %>
  </body>
</html>
