<h1>welcome to calculator</h1>

<form action="/result">
  <label>
    first number:
    <input type="number" placeholder="34" name="x">
  </label>
  <label>
    operator:
    <input placeholder="+ or - or / or *" name="operator">
  </label>

  <label>
    second number:
    <input type="number" placeholder="4" name="y">
  </label>

  <button>Calculate</button>

</form>
