.container {
  max-width: 960px;
  margin: 0 auto;
}
header {
  transition: 0.5s all;
  text-align: center;
  font-size: 200%;
  background-color: #ccc;
  padding: 1em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
header.active{
  background-color: yellow;
  font-size: 400%;
}
header input {
  font-size: 100%;
}
