<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSS Layout Sample</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>
  <!-- HTML -- Semantic Tags -->
  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>TITLE</h1>
    </header>
    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/400/610" alt="Bill Murray looking handsome ;)">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore impedit eligendi deleniti expedita id quidem ducimus eum sapiente itaque, possimus sunt provident. Expedita vel impedit porro voluptatem deserunt, debitis!</p>
      <p>Nesciunt libero vero sequi porro deleniti odio alias, laborum beatae ipsa excepturi labore tempore voluptatum recusandae doloremque est, fuga delectus incidunt dolorum dolores officia explicabo et possimus. Odit, enim deserunt!</p>
      <p>Labore numquam, laboriosam inventore ullam minus necessitatibus sint, maiores fuga accusantium totam, asperiores explicabo. Dolores nisi ipsum perspiciatis autem voluptatem, dolore ab enim, ratione soluta dolorum ipsa architecto iste veniam!</p>
    </main>
    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>something</li>
        <li>anything</li>
        <li>i don't know</li>
        <li>whatever</li>
      </ul>
    </aside>
  </div>
</body>
</html>
