<h1>welcome to book site</h1>
<form action="/result">
<label>
  Enter the Book to be retrieved
  <input type="text" placeholder='book name' required name='book_name'>
</label>
  <button>find</button>
</form>
