<!DOCTYPE html>
<html lang="en">
<h3>Book cover fetcher!</h3>

<form action="/result">
    <label>
    Enter the name of the book:
    <input type="text" name="bookname" id="bookInput" placeholder="">
    </label>
    <button>Get book cover!</button>
</form>
<p id="out"></p>
<script>

// $(function() {
//   // Handler for .ready() called.

//   var jqxhr = $.ajax( {type: "GET", url: "result", data: { bookname: ""}}  )
//   .done(function(r) {
//     alert( "success" );
//     $("#out").html(r)
//   })
//   .fail(function() {
//     alert( "error" );
//   })
//   .always(function() {
//     alert( "complete" );
//   });
// });

</script>