<h2>New Cricket Bat</h2>

<form action="/cricket" method="post">
  <label>
    brand:
    <input name="brand" placeholder="SS" required >
  </label>

  <label>
    price in $:
    <input name="price" placeholder="200" >
  </label>
<label>
    size:
  <input name="size" placeholder="junior" >
  </label>
  <!-- <label for="Types">Bat size</label>
  <select id="size">
    <option value="JL">Junior level</option>
    <option value="SL">Senior level</option>
    </select> -->
  <!-- <label for="Types">Bat Type</label>
<select id="Type">
  <option value="EW">English Willow</option>
  <option value="KW">Kashmir Willow</option>
  </select> -->
  <label>
    Type:
    <input name="tyoe" placeholder="junior" >
    </label>
  <label>
    Image:
    <input type="url" name="image" placeholder="http://..." >
  </label>


  <button>Create cricket bat</button>
</form>
