
<form action="/result" method="post">
  <p>Cricket Store</p>
  <div>
<img src="https://www.ecopetit.cat/wpic/mpic/10-105960_hd-nature-wallpaper-fresh-desktop-wallpapers-for-widescreen.jpg" alt="">
</div>
</form>
