<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The great Store of Cricket Bats</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cricket">cricket bats</a>
      <a href="/cricket/new">New cricket bat</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
