<h2>Lets country</h2>

<form action="/countries" method="post">
  <label>
    Name:
    <input name="name" placeholder="Ken" required >
  </label>


  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add new country</button>


</form>
