<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clubs</title>
  <link rel="stylesheet" href="/css/clubs.css">

</head>
<body>
<img src="image/image1.jpg" alt="image" />


  <div class="container">
    <nav>
      <a href="/">Home</a>
      |
      <a href="/clubs">All Clubs</a>
      <a href="/clubs/new">New Team</a>
      |
      <a href="/leagues">All Leagues</a>
      <a href="/leagues/new">New Leagues</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
