<h2>New League</h2>

<form action="/leagues" method="post">
  <label>
    Name:
    <input name="name" placeholder="favorite league" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create league</button>
</form>
