  
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Google Book Lookup</title>
        <link rel="stylesheet" href="/css/gbook.css">
    </head>
    <body>
        <h1>Search for a book name and cover</h1>
        <form action="/info">
            <label>
              Book name:
              <input type="search" name="bookname" placeholder="Jaws" required autofocus>
            </label>
            <input type="submit" value="Serach Now">
          </form>
        </body>
      </html>