<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book lookup</title>
    <link rel="stylesheet" href="/css/gbook.css">
  </head>
  <body>
    <p>Check out the book cover for <%= bookName %></p>
    <img src=<%= bookCover.items[0].volumeInfo.imageLinks.thumbnail %> />

  </body>
</html>