<h2>Add Author</h2>

<form action="/authors" method="post">
  <label>
    Full Name:
    <input name="name" placeholder="James Joyce" required>
  </label>

  <label>
    Born:
    <input name="born" type="number" placeholder="1933">
  </label>

  <label>
    Died:
    <input name="died" type="number" placeholder="1977">
  </label>

  <label>
    Genre:
    <input name="genre" placeholder="fiction" required>
  </label>

  <label>
    Image:
    <input name="image" type="url" placeholder="http://...">
  </label>

<button>Add</button>
</form>
