<h2>Guess the number that Clown has </h2>
<form action="/number/result">
  <label>
    Guess a Number b/w 1 & 10:
    <input type="search" name="number" required placeholder="5">
  </label>
  <button>Is that clown?!</button>
</form>
