/* Typically we set the box model to the new sizing once and for all, for every element on the page:
* {
  box-sizing: border-box;
} */
.old {
  width: 300px;
  height: 300px;
  background-color: lemonchiffon;
  border: 1px solid black;
  padding: 15px;
}

.new {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border: 1px solid black;
  padding: 15px;
  box-sizing: border-box;
}
