<p>Type in a book and its author & we'll post some information about it. Why? Just because we can!</p>

<form action="/result">
  <label>Book Name:</label>
  <input placeholder="Pride and Prejudice" name="book_title" required>
  <label>Author Name:</label>
  <input placeholder="Jane Austen" name="book_author" required>
  <button>Submit</button>
</form>
