<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google Books!</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main>
    <nav><a href="/">Home</a></nav>
    <h1>Google Books!</h1>
    <%= yield %>
</main>
</body>
</html>
