<div class="uk-flex uk-flex-center uk-flex-middle">

<form class="uk-form-stacked" method="post">

    <div class="uk-margin">
    <h1 class="uk-heading-line"><span>Login</span></h1>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password">
        </div>
    </div>
    <button class="uk-button uk-button-primary">Login</button>
    <a href="/register" class="uk-button uk-button-danger" uk-tooltip="Create an account">Register</a>
</form>

</div>