      <form class="uk-form-stacked uk-margin-large" method="post">
        <div class="uk-margin">
          <h1 class="uk-heading-line"><span>Register</span></h1>
          <label class="uk-form-label" for="form-horizontal-text"
            >Enter desired Username:</label
          >
          <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Username" name="username"/>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-select"
            >Enter a Password:</label
          >
          <div class="uk-form-controls ">
            <input class="uk-input" type="password" placeholder="" name="password1"/>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-select"
            >Re-enter Password:</label
          >
          <div class="uk-form-controls">
            <input class="uk-input" type="password" placeholder="" name="password2"/>
          </div>
        </div>
    <button class="uk-button uk-button-primary">Register</button>
</form>