<h3>New Client Form</h3>

<form action="/clients" method="post">
  <label>
    First name:
    <input name="first_name" required>
  </label>
  <label>
    Last name:
    <input name="last_name" required>
  </label>
  <label>
    Contact number:
    <input name="contact_number" placeholder="Australia (+62)" required>
  </label>
  <label>
    Photo:
    <input type="url" name="image" placeholder="http://...">
  </label>
  <button>Add</button>
</form>
