<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<link rel="stylesheet" href="/css/style.css">
  <title>Clients Data Base</title>
</head>
<body>
  <div calss="container">
    <nav>
      <a href="/">Home</a>
      <a href="/clients">Clients</a>
      <a href="/clients/new">New Client</a>
    </nav>
    <h1>AZADEH . HAKKAK</h1>
    <h2>CLIENT BASE</h2>

    <%= yield %>
  </div>

</body>
</html>
