@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans:400,700&display=swap');

body {
  background-color: #222; /* equivalent to #222222 .Range: #000000 - #ffffff */
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', fantasy;
}

.container {
  max-width: 960px; /* Lazy way to make a responsive container */
  background-color: #ccc;
  margin: auto;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

/* Descendent selector */
nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
}

main {
  display: inline-block;
  width: 75%;
}

main img {
  display: block;
  margin: auto; /* Center */
}

aside {
  display: inline-block;
  margin-top: 14px;
  width: 20%; /* In CSS: 75% + 21% === 100% */
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px #222; /* Now it pops */
}
