<!-- <h1>Videos List</h1>
<p>Find me in app/views/videos/show.html.erb</p> -->

<h1><%= @video.title %></h1>

<%= image_tag @video.image, :class => 'feature' if @video.image.present? %>

<ul>
	<li>Title: <%= @video.title %></li>
</ul>
