<h2>Add Character</h2>

<form action="/characters" method="post">
<label>
  Name:
  <input name="name" placeholder="Isabelle" required>
</label>

<label>
  Family
  <input name="species" placeholder="Dog" required>
</label>

<label>
  Image
  <input type="url" name="image" placeholder="http://">
</label>

  <button>Add</button>
</form>
