<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="https://www.favicon.cc/logo3d/668269.png">
  <title>Animal Crossing: New Horizons</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Trade+Winds&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1>Animal Crossing: New Horizons</h1>
    <nav>
  <a href="/">Home</a>
  <a href="/characters">Characters</a>
  <a href="/characters/new">Add Character</a>
</nav>
      <%= yield %>
  </div>

</body>
</html>
