<form action="/rock_paper_scissors/<%= params[:throw] %>">
  <label>Choose your turn:</label>
  <input placeholder="Rock" name="throw"required>
  <button>Submit</button>
</form>


<p><a href="/">Go to Main</a></p>
