<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/layout.css" type="text/css">
    <title>Layout</title>
  </head>

  <body>

    <div class="container">
    <header>
<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">FAQ</a>
  <a href="#">Contact</a>
</nav>
<h1>Title</h1>
</header>
<main>
<h2>content goes here</h2>
<img src="http://www.fillmurray.com/400/600" alt="Bill Murray Looking Handsome">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, dolor, nemo culpa porro aliquid pariatur nam aperiam tempore hic molestiae nisi in. Debitis expedita voluptates, libero consectetur necessitatibus tempore ipsum.</p>
<p>Eos nobis iusto reiciendis adipisci saepe alias hic amet atque, enim rerum officiis optio, quam. Consequatur, magni fugit iste earum odio eos animi, et incidunt, temporibus dolorum nisi iure reprehenderit.</p>
<p>As a writer and scholar, Knuth created the WEB and CWEB computer programming systems designed to encourage and facilitate literate programming, and designed the MIX/MMIX instruction set architectures. Knuth strongly opposes granting software patents, having expressed his opinion to the United States Patent and Trademark Office and European Patent Organisation.</p>
</main>
<aside>
  <h3>Fun Facts</h3>
  <ul>
    <li>EarlyLife</li>
    <li>Education</li>
    <li>EarlyWork</li>
    </ul>
</aside>

  </body>
</html>
