<h1>welcome to ruby calculator site</h1>
<form action="/result">
<label>
  First number:
  <input type="number" placeholder='23' name='x'>
</label>
<label>
  operator:
  <input placeholder="+ or - * or /" name="operator">
</label>
<label>
  Second number:
  <input type="number" placeholder='3' name='y'>
  <button>calculate</button>
</label>
</form>
