<h1>Play Rock Paper Scissors</h1>

<form action="/rock_paper_scissors/result">
        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">What will you play?</label>
        <div class="uk-form-controls">
            <select class="uk-select" name="gameselect">
                <option>Rock</option>
                <option>Paper</option>
                <option >Scissors</option>
            </select>

        </div>
    </div>
    <button class="uk-button uk-button-primary">Submit</button>
</form>