<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Book Look</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <a href="/" class="page_title"><h1>Book <br>Look</br></h1></a>
    </header>
    <div class="content_container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
