@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background-color: #313185;
}
main {
  width: 600px;
  /* height: 550px; */
  margin: auto;
  background-color: white;
  border: 2px solid black;
  box-shadow: 8px 10px #222;
}
main img.img-center,
main p.img-p{
  width: 70%;
  display: block;
  margin: 2em auto;
}
h1 {
  color: white;
  font-family: "Bitter", serif;
  text-align: center;
  padding-top: 0.5em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2em;
  font-size: 3em;
  text-shadow: 0 0.1em #8789c4;
  margin-top: -10px;
}
h2 {
  font-family: "Bitter", serif;
  text-transform: uppercase;
  padding-top: 0.1em;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px #313185;
  color: #8789c4;
}
nav {
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
  background-color: #F0A2AA;
  width: 600px;
  margin: 20px auto 0px auto;
  box-sizing: border-box;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  /* border: 2px solid black; */
  box-shadow: 10px 10px #222;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  padding-right: 60px;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover{
  text-decoration:underline;
}
footer{
  padding: 15px;
  height: 4em;
  text-align: center;
  box-sizing: border-box;
  background-color: #F0A2AA;
  width: 600px;
  margin: 0 auto 40px auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 10px 10px #222;
}
.img-size{
  width: 50%;
}
main img.bio, main p.bio{
  display: inline-block;
  width: 50%;
  padding: 1.1em;
  box-sizing: border-box;
}
main p.bio {
  vertical-align: top;
  margin-top: 0px;
  text-align: justify;
}
main img.img-center, main iframe {
  margin: 2em auto;
  display: block;
}
/* body{
  font-family: "Open Sans", sans-serif; */
  /* background-color: #313185; */
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
   /* overflow-x: hidden;
}
h1 {
  font-family: "Bitter", serif;
  text-align: center;
  padding-top: 0.5em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2em;
  font-size: 3em;
  text-shadow: 0 0.1em #8789c4;
  margin-top: -10px;
}
h2 {
  font-family: "Bitter", serif;
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.2em;
}
.container {
  background-color: #4B3A87;
  color: white;
  max-width: 960px;
  margin: auto;
}
header, footer{
  background-color: #1b1d60;
  position: relative;
  margin: 0 -9999rem;
  /* padding: .25rem 9999rem; */
  /* box-shadow: 0 0.2em 1em #222;
}

main img.bio, main p.bio{
  display: inline-block;
  width: 50%;
  padding: 1.1em;
  box-sizing: border-box;
}
main p.bio {
  vertical-align: top;
  margin-top: 0px;
  text-align: justify;
}
footer{
  padding: 15px;
  height: 4em;
  text-align: center;
  box-sizing: border-box;
}
.img-size{
  width: 50%;
}
main img.img-center, main iframe {
  margin: 2em auto;
  display: block;
}
main p.img-p{
  text-align: center;
  padding: 0.5em 2em 1em 2em;
} */
