<div class="score_board">
    <h3>That's a <%= @result %> for the player! (CPU choice: <%= @cpu_choice %>)</h3>
    <p>Choose another symbol to play again.</p>
</div>
<div class="rps">
    <div class="small_container">
        <a class="rps_choice" href="/rps/result/rock">
            <img src="/assets/rock.png" alt="rock symbol">
        </a>
    </div>
    <div class="small_container">
        <a class="rps_choice" href="/rps/result/paper">
            <img src="/assets/paper.png" alt="paper symbol">
        </a>
    </div>
    <div class="small_container">
        <a class="rps_choice" href="/rps/result/scissors">
            <img src="/assets/scissors.png" alt="scissors symbol">
        </a>
    </div>
</div>