<h1>Goodbye Cruel World</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quia expedita, placeat commodi doloribus eaque beatae, qui quod inventore. Placeat sapiente, harum cupiditate maxime ab amet aliquam officiis, dicta. Aut.</p>
