<h2>What is your question to the conch?!</h2>
<form class="question_field" action="/conch/answer">
    <label>
        <input type="text" placeholder="Your question goes here..." name="question" required>
    </label>
    <button>CONSULT THE CONCH</button>
</form>
<img class="conch_shell" src="/assets/Magicalconch.png" alt="the magic conch">