/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
#container{
  margin: 20px auto;
  padding: 10px 50px 30px 30px;
  width:1000px;

}

body{
  margin: 30px,50px,30px,30px;
  padding: 30px,50px,30px,30px;
}

p{
  line-height: 1.4;
  letter-spacing: 2px;
}
footer{
  margin: -5px auto 20px;
  width:1000px;

}
span{
  color: blue;
}
