<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peer programming</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <%= yield %>
        <footer>
            &copy; 2020 Unga Bunga Productions
        </footer>
    </main>
</body>
</html>