<h1> Take your pick for the Magic 8 Ball </h1>
<form action="/result">
        <label> 
        Pick:
        <input type="search" name="result" required placeholder="Anything">
        </label>
    
    <button>Pick anything</button>

    </form>