<h1> Welcome to Magic 8 Ball </h1>

<p> Start playing the game by completing the <a href="/form">form</a>
</p>

<h1> Welcome to Secret Number </h1>
<p> Start playing the game by completing the <a href="/secretnumber">form</a>
</p>