<h1><a href="/rps">Rock Paper Scissors</a></h1>
<p>Choose your weapon:</p>
<div class="rps_container">
  <a href="/rps/rock">
    <img class="rps_image" src="https://lh3.googleusercontent.com/proxy/3FvjZ6_dB4ADaqvJGSn1LbDy2QKep6l76sAcPPtOTv4UvOx-ftQ0lKOqNmL25l9RZrntJXhYRstJK270OgBgufLh" alt="rock">
  </a>
  <a href="/rps/paper">
    <img class="rps_image" src="https://lh3.googleusercontent.com/proxy/PNDeDV5DaYHYrYsmAnO8-1tol_CQI9-kBhBukBMtMKXDJZAFbPPAP_o-eBdJlpQGdkbt_a1Abr1tvYM_yXH0bJiW" alt="paper">
  </a>
  <a href="/rps/scissors">
    <img class="rps_image" src="https://cdn.clipart.email/27a51dcf623e18678c88e1cd3853fc01_transparent-scissors-png-clipart-picture-gallery-yopriceville-_1349-1313.png" alt="scissors">
  </a>
</div>
