body {
  background-color: lightgreen;
  min-height: 99999px;
}
.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  line-height: 300px;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
  top: 300px;
  right: 200px;
  background-color: red;
}
.fixed {
  position: fixed;
  top: 300px;
  right: 200px;
}
.relative {
  position: relative;
  width: 900px;
  height: 900px;
  line-height: 900px;
}
.smallbox {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
}
.red {
  background-color: red;
  top:265px;
  right: 175px;
  z-index: 2;
}
.green {
  background-color: green;
  top: 300px;
  right: 200px;
  z-index: 1;
}
.blue {
  background-color: blue;
  top: 325px;
  right: 225px;
}
