<h2>Guess what number the computer is thinking about:</h2>

<form class="scrt_nums" action="/secret_number/attempt">
    <button name="guess" value="1">1</button>
    <button name="guess" value="2">2</button>
    <button name="guess" value="3">3</button>
    <button name="guess" value="4">4</button>
    <button name="guess" value="5">5</button>
    <button name="guess" value="6">6</button>
    <button name="guess" value="7">7</button>
    <button name="guess" value="8">8</button>
    <button name="guess" value="9">9</button>
    <button name="guess" value="10">10</button>
</form>

<img src="/assets/mcdonald_jammin.gif" alt="Ronald McDonald jamming out">