<h1 class="content_title">NEW ARTIST</h1>

<form class="form_container" action="/artists" method="post">
  <label>
    Name
    <input type="text" name="name"placeholder="Carl Cox" required autocomplete="off">
  </label>
  <label>
    Genre
    <input type="text" name="genre" placeholder="House" autocomplete="off">
  </label>
  <label>
    Location
    <input type="text" name="location" placeholder="London" autocomplete="off">
  </label>
  <label>
    Top Track
    <input type="text" name="top_track" placeholder="Dr Funk" autocomplete="off">
  </label>
  <label>
    Label
    <input type="text" name="label" placeholder="Intec Records" autocomplete="off">
  </label>
  <label>
    Image
    <input type="text" name="image" placeholder="http://..." autocomplete="off">
  </label>

  <button>Create</button>
</form>
