<div class="home_container">
  <img class="home_image" src="https://media.giphy.com/media/l3vQY93bN54rXJTrO/giphy.gif" alt="">
  <img class="home_image" src="https://media.giphy.com/media/l3vQY93bN54rXJTrO/giphy.gif" alt="">
  <img class="home_image" src="https://media.giphy.com/media/l3vQY93bN54rXJTrO/giphy.gif" alt="">
</div>
