<h1 class="content_title">NEW LABEL</h1>

<form class="form_container" action="/labels" method="post">
  <label>
    Name
    <input type="text" name="name" placeholder="Lover Records" autocomplete="off" required>
  </label>
  <label>
    Location
    <input type="text" name="location" placeholder="Sydney" autocomplete="off">
  </label>
  <label>
    Established
    <input type="number" name="established" placeholder="1996" autocomplete="off">
  </label>
  <label>
    Image
    <input type="text" name="image" placeholder="http://..." autocomplete="off">
  </label>
  <button>Create</button>
</form>
