<h1>Add New Shoes</h1>

<form action="/shoes" method="post">
	<label for="">
		Brand:
		<input name="brand" placeholder="Shoe Brand" required>
	</label>
	<label for="">
		Type:
		<input name="kind" placeholder="Type of shoe">
	</label>
	<label for="">
		Image
		<input name="image" placeholder="Image of shoe">
	</label>
	<button>Add New Shoe</button>
</form>
