<h2>Add New Socks</h2>

<form action="/socks" method="post">
	<label for="">
	 Kind:
		<input name="kind" placeholder="Type of sock" required>
	</label>
	<label for="">
		Color:
		<input name="color" placeholder="Type of shoe">
	</label>
	<button>Add New Sock</button>
</form>
