@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap');
/* * { border: 1px solid green;} */
body {
  background-color: #2b2929;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
}
.container {
  max-width: 960px;
  background-color: #7d7979;
  margin: auto;
  padding: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
header{
  background-color: #464343;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
}
nav {
  text-align: center;
  height: 20px;
  padding-bottom: 10px;
}
h1, h2 {
  text-align: center;

}
h1 {
  padding-top: 1em;
  color: beige;
}
h2 {
  margin-top: 25px;
}
nav a {
  color: #216363;
  padding: 14px;
  text-decoration: none;
}
a:hover {
  color: beige;
  transition: 1s;
}

img {
  display: block;
  margin: auto;
  margin-top: 150px;
  box-shadow: 0 0 15px #2b2929;
  border-radius: 0.5em;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

.bio-img {
  display: block;
  margin: auto;
  margin-top: 145px;
}


footer p {
  margin: 0 auto;
  text-align: center;
  color: #737171;
  background-color: #464343;
  padding: 0.5em;
}
.ach-img{
  width: 700px;
  margin-top: 150px;

}

.fade-in {
  animation-duration: 3s;
  animation-delay: 2s;
  /* animation-iteration-count: infinite; */
}
