<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>

      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/400/620" alt="Bill Murray looking handsome">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, qui? Deleniti illo sint facilis minus velit odit perferendis assumenda accusantium odio veniam non vero, quidem totam deserunt cum ipsa nesciunt.</p>
      <p>Ipsum debitis maiores, molestiae. Nemo placeat, impedit quis exercitationem, harum repellendus earum distinctio facilis aliquid, doloremque eos, debitis vero iusto possimus optio. Fugit aperiam esse tempora! Dicta dolor quisquam, harum.</p>
      <p>Vitae culpa, ullam sapiente perferendis, iusto autem quod rerum ducimus iste illum nostrum ut quam dicta blanditiis pariatur eum minima laborum dolorum tempore, expedita nemo, nobis voluptatem veritatis labore. Consectetur.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Zeppo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
