
<h2>Welcome to the Book Search Site</h2>
<form action="/result">
	<label>
		<strong>Book Title:</strong>
		<input type="text" placeholder="Jaws" name="book_title" required>
	</label>
	<button>Get info</button>
</form>
