<html>
<head>
	<title>Book Search</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<a href="/">Home</a>
	</nav>
	<%= yield %>
</body>
</html>
