/*
    Typography 

    Google fonts;
    font-family: 'Marck Script', cursive;
    font-family: 'Tangerine', cursive;
*/

@import url("https://fonts.googleapis.com/css?family=Marck+Script|Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap");

body {
  font-size: 100%;
  font-family: "Cormorant Garamond", serif;
}

header h1 {
  font-size: 4.5rem;
  font-family: "Tangerine", cursive;
}

header h1::first-letter {
  font-size: 175%;
  color: #d10b31;
}

h3 {
  line-height: 3rem;
  font-weight: 600;
}

.italic {
  font-style: italic;
}
