<h2> I want to list my chinchilla </h2>


<form action="/chinchillas" method="post">


<label>
    Name of your chinchilla:
    <input name="petname" placeholder="Boss" required>
</label>

<label>
    Name of the owner:
    <input name="ownername" placeholder="Harry Potter" required> 
</label>

<label>
    Birth year of your chinchilla:
    <input type="integer" name="year_born" placeholder="1999" required> 
</label>

<label>
    Image:
    <input type="url" name="image" placeholder="URLink">
</label>


<button> List Now! </button>

</form>