<h1> Home Page of Our <span>Chinchillas</span> </h1>

<p> Chinchillas are either of two species of crepuscular rodents of the parvorder Caviomorpha. They are slightly larger and more robust than ground squirrels, and are native to the Andes mountains in South America. They live in colonies called "herds" at high elevations of up to 4,270 m.</p>



