<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="/css/chinchillas.css">
    <title>Chinchillas</title>
</head>
<body>
    <div class="container">
    <nav>
        <a href="/">Home</a>
        <a href="/chinchillas">Our Chinchillas</a>
        <a href="/chinchillas/new">List my Chinchillas</a>
    </nav>
<%= yield%>
    </div>
</body>
</html>