<h2>New Building</h2>

<form action="<%= buildings_path %>" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    Image:
    <input type="url" name="image">
  </label>

  <label>
    Meters:
    <input type="number" name="meters">
  </label>

  

  <label>
    Countrys:
    <input type="name" name="countrys">
  </label>

  <button>Create planet</button>
</form>
