<h2>New Car</h2>

<form action="/celebs" method="post">
  <label>
    Name:
    <input name="name" placeholder="Jackie Chan" required>
  </label>

  <label>
    Profession:
    <input name="profession" placeholder="Actor">
  </label>

  <label>
    Car:
    <input name="car" placeholder="Audi">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <label>
    Car:
    <select name="car_id">
      <% Car.all.each do |car| %>
       <option value="<%=  %>"

  </label>

  <button>Add Celebrity</button>
</form>
