body {
  background-color: greenyellow;

}

h1 {
text-align:justify;
color: green;
}
.container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  nav {
    text-align: center;
    font-size:larger  ;

  }
  
  nav a {
    color: blue ;

    
  }
  
  label {
    display: inline;
  }
  
  .feature {
    max-width: 100%;
  }
  