<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BMW's World</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="/bmws">BMW's</a>&nbsp;&nbsp;
        <a href="/bmw/new">Add BMW</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/families">Family</a>&nbsp;&nbsp;
        <a href="/family/new">Add Family</a>&nbsp;&nbsp;
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
