<h1><a href="/magic">Magic 8 Ball</a></h1>
<p>What question is on your mind?</p>
<form class="magic_form" action="/magic/result">
  <input class="magic_input" type="text" name="question" placeholder="Is Ruby my one true love?" autocomplete="off" required><br>
  <button class="magic_button">Shake</button>
</form>
