<h1>Stock Price Look Up</h1>

<form action="/result">
  <label>
    Stock symbol:
    <input type="text" name="stocks" placeholder="GOOG, AAPL, MSFT" required>
  </label>
  <button>Submit</button>
</form>
