body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

main{
    min-height: 100vh;
    margin-bottom: 5em;
}

.poke_list{
    height: 600px;
    overflow-y: auto;
    width: 80%;
    padding: 1em;
}

#poketable_search input[type=text]{
    width: 90%;
}

.list{
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #fff;
    margin: 0;
    color: #fff;
}

.list th, td{
    text-align: left;
    padding: 1em;
}

.list tr:nth-child(odd){
    background-color: rgb(6, 59, 59);
}

.list tr:nth-child(even){
    background-color: rgb(55, 148, 148);
}

.generated_pokemon{
    display: none;
}

.poke_info{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.stats_bar {
    border-radius: 1em;
    transition: all 0.25s ease-in;
    height: 2em;
}

.poke_nature{
    display: grid;
    grid-template-rows: 1fr auto;
}

.nature_buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.natures{
    display: block;
}