<h1>Magic 8 will tell your Fortune: </h1>

<form action="/result">
  <label>
    Enter your Question .......:
    <input type="search" name="ques" required placeholder="Write an appropriate question"
    size="50">
  </label>
  <button>Search</button>
</form>
