<h2>Welcome to the Smash CRUD!</h2>

<p>Enter the character's name whos bio you want to see:</p>

<form action="/fighters/bio/search" method="post">
    <input class="extend" type="text" placeholder="Enter your fighter's name here..." name="name">
    <button>Search</button>
</form>