<h2>Add a Special move to your character!</h2>

<form action="/specials" method="post">
    <label>
        Name:
        <input type="text" name="name" placeholder="Move's name..." required>
    </label>
    <label>
        Direction:
        <input type="text" name="direction" placeholder="Name of the move...">
    </label>
    <label>
        Image:
        <input type="text" name="image" placeholder="https://...">
    </label>

    <input type="submit" value="Add Special">
</form>