<h1>The book Search</h1>

<form action="/result">
  <label>
    Book Title:
    <input type="text" placeholder ="Jaws" name="book_title" class="input-group-text" required>
  </label>
  <button class="btn btn-primary">Submit</button>

</form>
