<h2>Add Mountain</h2>

<form action="mountains_path" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>
  <label>
    Elevation:
    <input type="number" required>
  </label>
  <label>
    Location:
    <input name="location" required>
  </label>
  <label>
    First ascent:
    <input name="first_ascent">
  </label>
  <label>
    Image:
    <input type="url" name="image">
  </label>

  <button>Add</button>
</form>
