<img src="<%= @cover_img %>" alt="book_cover_img" height = 520 width = 350>
<div class="addn_info">
  <p>
    Author name: <%= @author_info %>
    Publisher: <%= @publisher_info %>
    Language: <%= @language %>
  </p>
</div>
