<h2 id="rock">Play Rock, Paper & Scissors with clown </h2>
<form action="/rock/results">
  <label>
    Rock,paper or scissor?:
    <input type="search" name="rock" required placeholder="paper">
  </label>
  <button>Play with clown!</button>
</form>
