<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>




<nav> 
<h1> BOOK INFO</h1>
 <a href="/">Home</a>
</nav>



<%= yield %> 


<footer>
&copy; Copyright (c) 2019 Ty Rauber
</footer>
</body>
</html>