<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/layout.css">
  <title>CSS layout example</title>
</head>
<body>

  <div class="container">
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
    </nav>

    <h1>TITLE</h1>
  </header>

  <main>
    <h2>Content Goes Here - subheading</h2>
    <img src="http://placekitten.com/400/601" alt="Cute kitty looking cute">
    <!-- p*3>lorem + tab -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit doloremque nisi quaerat, eligendi, laborum obcaecati recusandae alias impedit saepe! Sunt hic dolor incidunt, id minus ducimus perferendis amet fuga cum.</p>
    <p>Debitis, facere consequatur eaque minima accusantium mollitia. Vitae omnis esse excepturi, debitis dicta, adipisci ut amet sequi reiciendis aperiam qui autem tempora accusamus, nihil sunt voluptatibus numquam! Id, quod, perferendis.</p>
    <p>Cupiditate sequi quo voluptatum. Porro nobis, ex impedit est vitae nulla commodi. Similique, quod. Labore illo excepturi vero perspiciatis sed ipsam, esse, eveniet fugiat consectetur est saepe nobis ut natus.</p>
  </main>

  <aside>
    <h3>Fun Facts</h3>
    <!-- ul>li*4 -->
    <ul>
      <li>Kitty</li>
      <li>Socks</li>
      <li>Boots</li>
      <li>Menow</li>
    </ul>
  </aside>
  </div>

</body>
</html>
