<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Cars info</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <link rel="stylesheet" href="/css/cars.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cars">Cars</a>
      <a href="/cars/new">New Car</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
