<h2>New Shop</h2>

<form action="/shops" method="post">
  <label>
    Shop Name:
    <input name="shop_name" placeholder="Bloomex" required>
  </label>

  <label>
    Flower Name:
    <input name="flower_name" placeholder="Aconite">
  </label>

  <label>
    Website:
    <input type="url" name="website" placeholder="http://...">
  </label>

    <button>Add</button>

</form>
