<p>Pick a Number</p>

  <a href="/secret_number/1">1</a>
  <a href="/secret_number/2">2</a>
  <a href="/secret_number/3">3</a>
  <a href="/secret_number/4">4</a>
  <a href="/secret_number/5">5</a>
  <a href="/secret_number/6">6</a>
  <a href="/secret_number/7">7</a>
  <a href="/secret_number/8">8</a>
  <a href="/secret_number/9">9</a>
  <a href="/secret_number/10">10</a>
