<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Bookz!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>Google Bookz!</h2>
    <main>
      <p>Type in a book title & we'll try to find it for ya!</p>
      <form action="/book">
        <label>
          Book Name:
          <input type="search" name="book_name" placeholder="Jaws" required autofocus>
        </label>
        <input type="submit" value="Search!">
      </form>
    </main>
  </body>
</html>
