<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Bookz!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>Not sure which you want so here ya go:</h2>
    <main>
      <div class="results">
      <% bookInfo.forEach((book) => { %>
        <div class="book">
        <% if (Object.keys(book["volumeInfo"]).includes("imageLinks")){ %>
            <img class="resize" src=<%= book["volumeInfo"]["imageLinks"]["thumbnail"] %>>
        <% } else { %>
            <img class="resize" src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg">
        <% } %>
            <p>Title: <%= book["volumeInfo"]["title"] %></p>
            <p class="info">Written By: <%= book["volumeInfo"]["authors"].join(', ') %></p>
          </div>
      <% }); %>
    </div>
    </main>
  </body>
</html>
