<h2>Asset Helpers</h2>

<!-- <img src="http://www.fillmurray.com/301/301" alt="Bill Murry"> -->

<%= image_tag "http://www.fillmurray.com/301/301", :alt => 'Bill Murray' %>

<!-- <img src="/assets/smoking.jpg" alt=""> -->

<%= image_tag "smoking.jpg", :alt => 'Girl smoking', :class => 'hotdogs meatballs' %>

<p>There are also: video_tag, audio_tag</p>
