@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
}
main {
  width: 960px;
  margin: 0 auto;
}
h1, h2 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}
h1 {
  margin-top: 50px;
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
  margin-top: 50px;
}
form {
  margin-top: 50px;
  text-align: center;
}
label {
  font-size: 1.5em;
  margin-left: 20px;
}
input {
  padding: 6px 24px 6px 2px;
  border-radius: 5px;
  border-color: #008CBA;
  box-sizing: border-box;
}
button{
  padding: 8px 24px;
  background-color:#008CBA;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}
p {
  margin-top: 50px;
  font-size: 2em;
  text-align: center;
}
nav {
  margin-top: 50px;
  text-align: center;
}
p.result {
  margin-bottom: 50px;
}
.container{
  margin: 20px auto;
  display: flex;
  max-width: 960px;
  justify-content: space-evenly;
}
.container a{
  text-decoration: none;
}
.box{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}
