<h1>new butterfly form </h1>
<form action="/butterflies" method="post">
  <label for="">
    name:
    <input name="name" placeholder="red admiral" required>
  </label>
  <label for="">
    <input name="family" placeholder=" admiral">
  </label>
  <label for="">
    <input type="url" name="image" placeholder="https//....">
  </label>

  <button> create butterfly</button>
</form>
