<h2>Add New Driver</h2>

<form action="/drivers" method ="post">
  <label>Name: <input name="name" placeholder="Michael Schumacher" required></label>
  <label>Team: <input name="team" placeholder="Ferrari"></label>
  <label>Podium Wins: <input type="number" name="podiums" placeholder="155"></label>
  <label>Image: <input type="url" name="image" placeholder="http://www..."></label>
  <button>Add Driver</button>
</form>
