<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formula 1 2020</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">2020 Formula 1 World Championship</a></h1>
    <nav>
      <ul>
        <li><a href="/drivers">Drivers</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/drivers/new">Add Driver</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
